.flex-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    min-width: 400px;
    max-width: 1500px;
}

#application-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#drawing-encoding, #drawing-decoding {
    display: none;
    padding: 10px;
}

.character-box {
    width: 100px;
}

.equation-box {
    max-width: 1400px;
    min-width: 300px;
}

.description-box {
    min-width: 1100px;
    max-width: 1100px;
}

.char {
    font-size: xx-large;
}

.encoded-number {
    color: #0E49FF;
}

.interval-numbers {
    color: red;
}

.alert {
    max-width: 600px;
}

#iterate-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.metatext {
    margin: 10px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}